.buttons {
  position: relative;
}

a[id = "btnFullscreen"],
a[id = "musicBtn"],
a[id = "soundBtn"],
a[id = "infoBtn"] {
  position: absolute;
  color: rgba(250, 251, 255, 0.5) !important;
  text-align: right;
  font-size: 40px;
}

a[id="settings"]:hover,
a[id = "btnFullscreen"]:hover,
a[id = "musicBtn"]:hover,
a[id = "soundBtn"]:hover,
a[id = "infoBtn"]:hover {
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
}

a[id = "btnFullscreen"] {
  right: 30px;
  top: 10px;
}

a[id = "musicBtn"] {
  right: 30px;
  top: 70px ;
}

a[id = "soundBtn"] {
  right: 30px;
  top: 130px;
}

a[id = "infoBtn"] {
  right: 30px;
  top: 190px;
}

#infoBtn:hover {
  text-decoration: none;
}
