.buttons {
   position: relative;
}

a[id="settings"],
a[id="btnFullscreen"],
a[id="musicBtn"],
a[id="soundBtn"],
a[id="infoBtn"],
#restartBtn {
   position: absolute;
   color: rgba(250, 251, 255, 0.5) !important;
   text-align: right;
   font-size: 40px;
}

a[id="btnFullscreen"],
a[id="musicBtn"],
a[id="soundBtn"],
a[id="infoBtn"] {
   right: 20px;
}

a[id="settings"]:hover,
a[id="btnFullscreen"]:hover,
a[id="musicBtn"]:hover,
a[id="soundBtn"]:hover,
a[id="infoBtn"]:hover,
#restartBtn:hover {
   color: rgb(255, 255, 255) !important;
   cursor: pointer;
}

a[id="btnFullscreen"] {
   top: 10px;
}

a[id="musicBtn"] {
   top: 70px;
}

a[id="soundBtn"] {
   top: 130px;
}

a[id = "infoBtn"] {
   top: 190px;
}

#restartBtn {
   text-decoration: none;
   right: 40px;
   top: 520px;
}
