/*MAIN*/

body {
    background-color: #ffe0b9;
    font-family: "comic sans ms"
}

.game {
    padding-top: 50px;
    min-height: 700px;
    min-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #bfa000, #799f0c);
}

/*CONTENT*/

/*Main*/
.content {
    text-align: center;
}

/*Header*/
.content header h1 {
    color: white;
    font-weight: bolder;
    font-size: 85px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    background: linear-gradient(to right, #ff0015 0%, #ff7726 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*FORM*/

.label-text {
    font-size: 30px;
    color: white
}

.my-input {
    margin: 0 auto;
    max-width: 250px;
    border-radius: 10px;
    border: 3px solid #ffcb1a;
}

.my-input:focus {
    border: 4px solid #46aa2d;;
    outline: none !important;
}

.registr {
    font-size: 18px;
    color: white !important;
    transition: all 0.3s ease 0s;
}

.registr:hover {
    color: white !important;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.main-btn {
    border: none;
    background: #ff5b05;
    color: #ffffff !important;
  font-size:22px;
    font-weight: 100;
    padding: 5px 15px;
  /*text-transform: uppercase;*/

    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.main-btn:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background-color: #ffcb1a;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}
