/*MAIN*/

body {
    background-color: #ffe0b9;
    font-family: "comic sans ms", serif;
}

.game {
    padding-top: 50px;
    min-height: 700px;
    min-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#6fb98f,#2c7873);
}

/*CONTENT*/

/*Main*/
.content {
    text-align: center;
}

/*Header*/
.container header h1 {
    color: #004445;
    font-weight: bolder;
    font-size: 85px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;

}

/*FORM*/

.label-text {
    font-size: 30px;
    color: white
}

.my-input {
    margin: 0 auto;
    max-width: 250px;
    border-radius: 10px;
    border: 3px solid #6fb98f;
}

.my-input:focus {
    border: 3.5px solid #205c4d63;
    box-shadow: none;
}
.register {
    margin-top: 20px;
}
.register-link {
    font-size: 18px;
    color: white !important;
    text-decoration: underline;
    transition: all 0.3s ease 0s;
}

.register-link:hover {
    color: white !important;
    /* cursor: pointer !important; */
    /* font-weight: 600; */
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}

.main-btn {
    border: none;
    background-color: #00494bd5;
    color: #ffffff !important;
    font-size:22px;
    font-weight: 700 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.main-btn:hover {
    background-color: #002d2e;
    color: #ffffff !important;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
}
